* {
    margin: 0;
    padding: 0;
}

html {
    text-align: center;
    background: rgb(0,28,47);
    background: linear-gradient(133deg, rgba(0,28,47,1) 0%, rgba(0,20,54,1) 71%);}



button {
    margin-top: 140px;
    margin-right: -15px;
    margin-bottom: 85px;
    font-size: 45px;
    padding: 0.6em 2em;
    border: solid;
    border-color: darkcyan;
    outline: none;
    color: rgb(255, 255, 255);
    background: #000413;
    cursor: pointer;
    z-index: 0;
    border-radius: 25px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: 0 0 16px rgba(123, 251, 255, 0.2), 0 0 16px rgba(0, 255, 255, 0.27);
}
.buttons {
    margin-left: 20px;
}
.button1 {
    border: solid;
    border-color: #1f0035;
    font-size: 65px;
    margin-top: 200px;
    text-decoration: none;
    position: relative;
    padding: 0.6em 2em;
    outline: none;
    color: rgb(255, 255, 255);
    background: #000413;
    cursor: pointer;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: 0 0 16px rgba(176, 123, 255, 0.2), 0 0 16px rgba(123, 0, 255, 0.27);
}

.nextmode {
    text-decoration: none;
}

 {
    left: 50px ;
    height: 25px;
    width: 25px;
    background-color: #749e83;
    border-radius: 50%;
    display: inline-block;
}
.pred {
    margin-left: 270px;
}

.dot2{
    left: 50px ;
    height: 25px;
    width: 25px;
    background-color: #ff0000;
    border-radius: 50%;
    display: inline-block;
}
.dot3{
    left: 50px ;
    height: 25px;
    width: 25px;
    background-color: #c1b1b1;
    border-radius: 50%;
    display: inline-block;
}
.dot4{
    left: 50px ;
    height: 25px;
    width: 25px;
    background-color: #f46400;
    border-radius: 50%;
    display: inline-block;
}
.dot5{
    left: 50px ;
    height: 25px;
    width: 25px;
    background-color: #e5d523;
    border-radius: 50%;
    display: inline-block;
}
.dot6{
    left: 50px ;
    height: 25px;
    width: 25px;
    background-color: #133de3;
    border-radius: 50%;
    display: inline-block;
}
.dot7 {
    left: 50px ;
    height: 25px;
    width: 25px;
    background-color: #206d00;
    border-radius: 50%;
    display: inline-block;
}
.dot8 {
    left: 50px ;
    height: 25px;
    width: 25px;
    background-color: #ff1a1a;
    border-radius: 50%;
    display: inline-block;
}

.dot9 {
    left: 50px ;
    height: 25px;
    width: 25px;
    background-color: #ffca1a;
    border-radius: 50%;
    display: inline-block;
    margin-right: 40px;
}
a {
    text-decoration: none;
}
.krizik{
    top: 50px;
    margin-top: 100px;
    font-size: 40px;
    font-weight: 800;
    font-family: Arial, serif;
    text-transform: uppercase;
    background: -webkit-linear-gradient(45deg, #ff8282, #ffbe89, #f7fd9c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.px {
    top: 50px;
    margin-top: 100px;
    font-size: 80px;
    font-weight: 800;
    font-family: Arial, serif;
    text-transform: uppercase;
    background: -webkit-linear-gradient(45deg, #b482ff, #9289ff, #9cecfd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}