* {
    margin: 0;
    padding: 0;
}

html {
    text-align: center;
    background: rgb(0,28,47);
    background: linear-gradient(133deg, rgba(0,28,47,1) 0%, rgba(0,20,54,1) 71%);
}

button {
    position: relative;
    left: 0;
    margin-top: 15px;
    margin-bottom: 65px;
    font-size: 45px;
    padding: 0.6em 1.45em;
    border: solid;
    border-color: darkcyan;
    outline: none;
    color: rgb(255, 255, 255);
    background: #000413;
    cursor: pointer;
    z-index: 0;
    border-radius: 25px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: 0 0 16px rgba(123, 251, 255, 0.2), 0 0 16px rgba(0, 255, 255, 0.27);
    display: inline-block;
}

.nextbutton {
    border: solid;
    border-color: #1f0035;
    font-size: 65px;
    margin-top: 100px;
    text-decoration: none;
    position: relative;
    padding: 0.6em 2em;
    outline: none;
    color: rgb(255, 255, 255);
    background: #000413;
    cursor: pointer;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: 0 0 16px rgba(176, 123, 255, 0.2), 0 0 16px rgba(123, 0, 255, 0.27);
    display: inline-block;
}

.nextmode, a {
    text-decoration: none;
}

.krizik {
    top: 50px;
    margin-top: 100px;
    font-size: 40px;
    font-weight: 800;
    font-family: Arial, serif;
    text-transform: uppercase;
    background: -webkit-linear-gradient(45deg, #ff8282, #ffbe89, #f7fd9c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text {
    top: 50px;
    margin-top: 100px;
    font-size: 80px;
    font-weight: 800;
    font-family: Arial, serif;
    text-transform: uppercase;
    background: -webkit-linear-gradient(45deg, #b482ff, #9289ff, #9cecfd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text1 {
    text-align: right;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    color: #9289ff;
    margin-left: 75px;
    text-decoration: none;
    font-size: 50px;
    outline: solid;
    margin-top: 34px;
}
.buttons {
    text-align: left;
    margin-left: 75px;
}



